
.favorites-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.favorites-page {
  background-color: #FAF9F4;
  padding: 40px 20px; /* ↑ زدت padding top */
  text-align: center;
  min-height: 100vh; /* حتى ما يلزق */
   margin-top: 120px;
     flex: 1;
}
.favorites-page h2 {
  font-family: 'Playfair Display', serif; /* خط فخم */
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #7A5C2E; /* بني ذهبي رايق */
  position: relative;
  margin-bottom: 25px;
}

.favorites-page h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #B6974D;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-radius: 2px;
}


.favorites-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
   margin-top: 30px;
}



.favorite-card {
  background-color: #fff;
  border: 2px solid #B6974D;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 300px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.favorite-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.favorite-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.favorite-card h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  color: #3B2F2F;
}

.favorite-card p {
  font-family: 'Poppins', sans-serif;
  margin: 3px 0;
  color: #3B2F2F;
}

.btn-remove-fav {
  background-color: #B6974D;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
 
  transition: all 0.3s ease;
}

.btn-remove-fav:hover {
  background-color: #4A5328;
}
.btn-back,
.btn-remove-fav {
  background: linear-gradient(135deg, #C9A55B, #B6974D);
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
   cursor: pointer;
    margin-top: 10px;
}

.btn-back:hover,
.btn-remove-fav:hover {
  background: linear-gradient(135deg, #A58647, #8A6F34);
}



.btn-back {
  background-color: #B6974D;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
    float: left;
  transition: all 0.3s ease;
  .btn-back {
  margin-top: 0;
  margin-left: auto; /* يدفعه لليمين */
}
}

.btn-back:hover {
  background-color: #4A5328;
}
